body{
    background: #040404 url("../img/mecka.jpg") center no-repeat;
    background-size: cover;
    height: 100%;

}

.form-registration {
  width: 100%;
  max-width: 530px;
  padding: 10px;
  margin: auto;
}
h1{
    color: #0d6efd;
    margin: 0.5em;
    font-weight: bold;
}

p {
    color: yellow;
    font-weight: 900;
}

