body{
    background: #040404 url("../img/ferrari2.jpg") center no-repeat;
    background-size: cover;
    height: 100%;

}
button{
    max-width: 350px;
}

h1{
    color: yellow;
    margin: 1em;
    font-weight: bold;
}

h2{
    color: #0d6efd;
    margin: 0.5em;
    font-weight: bold;
}