body{
    background-color: #00CCCC
}

.form-registration {
  width: 100%;
  max-width: 1300px;
  padding: 15px;
  margin: auto;
}

.sub {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;

}

