

.form{
    max-width: 60%;
    max-height:
}

.form1{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;


}

label{
    font-size: 1.5em;

}

button{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;

}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

}