{% extends "base-log-in.html" %}
{% block link %}
    <link href="/static/css/my-ads.css" rel="stylesheet">
{% endblock link %}

{% block content %}
<div>
  <img src="{{ad.image}}" class="mt-4" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">Post by: {{ad.username}}</h5>
    <p class="card-text"><li>Brand: {{ad.brand}}</li> <li>Telephone: {{ad.telephone}}</li></p>
  </div>
</div>
<main class="d-flex p-2 bd-highlight">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for interest in interests %}
        <div class="row mt-4" >
          <ul><u>Interested person information:</u> </ul>
            <li>Name: <strong>{{interest.interest_name}}</strong></li>
            <li>Surname: <strong>{{interest.interest_surname}}</strong></li>
            <li>Email: <strong>{{interest.interest_email}}</strong></li>
            <li>Telephone: <strong>{{interest.interest_telephone}}</strong></li>
          <hr>
        </div>
{% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock content %}