{% if user %}
{% extends "base-log-in.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}


{% block title %}FAQ{% endblock title %}


{% block headline %}<h2>Frequently Asked Questions</h2>{% endblock headline %}
{% block hr %}<hr class="mb-4">{% endblock hr %}


{% block content %}
 <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
     {% for question in questions %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne{{question.id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne{{question.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne{{question.id}}">
            <strong>{{question.question_text}}?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne{{question.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong>Question by: {{question.question_name}}-</strong>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id interdum velit laoreet id donec ultrices tincidunt. Varius quam quisque id diam vel quam elementum pulvinar.
        </div>
      </div>
    </div>
     {% endfor %}
 </div>


{% endblock content %}