{% if user %}
{% extends "base-log-in.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title %}HOME{% endblock title %}


{% block link %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock link %}

{% block content %}

<main>
  <section class="py-1 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Cars for sale</h1>
        <p class="lead text-muted mt-3">Here you have a collection of all the cars, that need to find new parents</p>
        <p class="mt-4">
          <a href="#cars" class="btn btn-primary my-2">Let's start!</a>
          <a href="/registration" class="btn btn-warning my-2">I'm new here</a>
        </p>
         <hr>
      </div>
    </div>
  </section>



  <div class="album py-5 bg-light mt-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

{% for ad in ads %}
        <div class="col" id="cars">
          <div class="card shadow-sm">
             <a href="/ad/{{ad.id}}"><img src="{{ad.image}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <p class="card-text"><ul>Post by: {{ad.username}}</ul><li>Brand: {{ad.brand}}</li> <li>Telephone: {{ad.telephone}}</li></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/ad/{{ad.id}}" type="button" class="btn btn-sm btn-outline-secondary">I'm interested</a>
                </div>
                <small class="text-muted">Posted on: {{ad.created.day}}/{{ad.created.month}}/{{ad.created.year}}</small>
              </div>
            </div>
          </div>
        </div>
{% endfor %}


      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="/">Back to top</a>
    </p>
  </div>
</footer>
{% endblock content %}