{% extends "base-log-in.html" %}

<!--DO A FORM WHEN YOU CAN PUT BASIC STUFF ABOUT A CAR AND YOU CAN ALSO PUT UP ONE PICTURE OF A CAR. THEN IT ALL GOES TO HOMEPAGE--->

{% block title %}POST CAR{% endblock title %}

{% block link %}
    <link href="/static/css/post-car.css" rel="stylesheet">
{% endblock link %}


{% block headline %}You want to sell a car? Fill in the form!{% endblock headline %}
{% block hr %}<hr>{% endblock hr %}


{% block content %}
<form action="/dashboard/post-car" method="post">
    <main class="form-registration text-center mt-4" >
        <div class="row d-flex align-items-stretch">
            <div class="col-6 mt-4">
                <div class="form-floating mb-3" >
                  <input type="text" name="brand" class="form-control" id="floatingUsername" placeholder="Username">
                  <label for="floatingUsername">Brand</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" name="date" class="form-control" id="floatingFirstname" placeholder="date of manufacture">
                  <label for="floatingFirstname">Date of manufacture</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" name="kilometers" class="form-control" id="floatingLastname" placeholder="kilometers">
                  <label for="floatingLastname">Kilometers</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" name="horsepower" class="form-control" id="floatingCountry" placeholder="Horsepower">
                  <label for="floatingCountry">Horsepower</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" name="transmission" id="floatingPostal" aria-label="Default select example">
                      <option selected value="manual">Manual</option>
                      <option value="1">Automatic</option>
                    </select>
                   <label for="floatingPostal">Transmission (manual/automatic)</label>
                </div>
            </div>
            <div class="col-6 mt-4">
                <div class="form-floating mb-3">
                  <input type="text" name="car-model" class="form-control" id="floatingEmail" placeholder="car model">
                  <label for="floatingEmail">Car model</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="color" class="form-control" id="floatingPassword" placeholder="color">
                  <label for="floatingPassword">Color</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="price" class="form-control" id="floatingRepeat" placeholder="price">
                  <label for="floatingRepeat">Price</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="image" class="form-control" id="floatingImage" placeholder="Image link">
                  <label for="floatingImage">Image link (copy a >>Direct link<< please)</label>
                </div>
                <div>
                   <a href="https://postimages.org/"  target= "_blank"  class="btn btn-secondary my-2">Click here to go on a page for image link</a>
                </div>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary sub mt-4" type="submit">Submit</button>
    </main>
</form>

{% endblock content %}